[submodule "wallet-frontend"]
	path = wallet-frontend
	url = git@github.com:gunet/funke-s2-wallet-frontend.git
[submodule "wallet-backend-server"]
	path = wallet-backend-server
	url = git@github.com:gunet/funke-s2-wallet-backend-server.git
[submodule "wallet-enterprise"]
	path = wallet-enterprise
	url = git@github.com:gunet/funke-s2-wallet-enterprise.git
[submodule "ausweissapp-client"]
	path = ausweissapp-client
	url = git@github.com:gunet/ausweissapp-client.git
